---
import Image from "astro/components/Image.astro";
import whyUs from "../../assets/whyUS.png";
const titles: String[] = [
  "24/7 dostępny",
  "Gwarancja jakości",
  "Certyfikat SEP",
];
const descriptions: String[] = [
  "Jesteśmy dostępni 24/7 — reagujemy na awarie o każdej porze dnia i nocy, także w weekendy i święta. Szybki dojazd i natychmiastowe działania minimalizują ryzyko i przywracają bezpieczeństwo w Twoim domu. ",
  "Pracujemy według branżowych standardów i dokumentujemy każde zlecenie, żebyś miał pewność, co zostało wykonane. Jeśli problem powróci, naprawimy go bez dodatkowych kosztów zgodnie z warunkami gwarancji.",
  "Nasi elektrycy posiadają uprawnienia i certyfikaty SEP, które potwierdzają kwalifikacje do pracy przy instalacjach elektrycznych. Zaufaj fachowcom z uprawnieniami — to większe bezpieczeństwo i pewność solidnej realizacji.",
];
---

<section>
  <div class="header">
    <h2>Dlaczego my?</h2>
    <span>Warto nas wybrać z wielu powodów.</span>
  </div>
  <div id="whyUsWrapper">
    <Image src={whyUs} alt={"company owner"} id="company_owner" />
    <div id="wrapper">
      <div class="svgTextWrapper">
        <div class="svgWrapper">
          <svg
            width="62"
            height="62"
            viewBox="0 0 62 62"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-label="dostępność"
          >
            <path
              d="M3.05566 30.5556C3.05566 34.1669 3.76697 37.7429 5.14898 41.0794C6.53098 44.4158 8.55662 47.4474 11.1102 50.001C13.6638 52.5546 16.6954 54.5802 20.0319 55.9622C23.3683 57.3443 26.9443 58.0556 30.5557 58.0556C34.167 58.0556 37.743 57.3443 41.0795 55.9622C44.4159 54.5802 47.4475 52.5546 50.0011 50.001C52.5547 47.4474 54.5803 44.4158 55.9624 41.0794C57.3444 37.7429 58.0557 34.1669 58.0557 30.5556C58.0557 23.2621 55.1583 16.2674 50.0011 11.1101C44.8438 5.95287 37.8491 3.05556 30.5557 3.05556C23.2622 3.05556 16.2675 5.95287 11.1102 11.1101C5.95298 16.2674 3.05566 23.2621 3.05566 30.5556Z"
              stroke="#FFBF00"
              stroke-width="6.11111"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M30.5557 15.2778V30.5556L39.7223 39.7222"
              stroke="#FFBF00"
              stroke-width="6.11111"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
        <div>
          <h5>{titles[0]}</h5>
          <p>{descriptions[0]}</p>
        </div>
      </div>
      <div class="svgTextWrapper">
        <div class="svgWrapper">
          <svg
            width="48"
            height="63"
            viewBox="0 0 48 63"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-label="gwarancja"
          >
            <path
              d="M32.82 52.4999L24 47.3099L15.18 52.4999L17.52 42.4799L9.75002 35.7599L19.98 34.89L24 25.5L28.02 34.89L38.25 35.7599L30.48 42.4799M48 0H3.55024e-05V5.99999L14.58 16.92C9.49325 19.0907 5.3123 22.9517 2.74424 27.8499C0.176179 32.7481 -0.621378 38.3829 0.486452 43.8014C1.59428 49.2199 4.53951 54.0895 8.82403 57.5867C13.1086 61.0839 18.4694 62.994 24 62.994C29.5306 62.994 34.8914 61.0839 39.176 57.5867C43.4605 54.0895 46.4057 49.2199 47.5135 43.8014C48.6214 38.3829 47.8238 32.7481 45.2558 27.8499C42.6877 22.9517 38.5068 19.0907 33.42 16.92L48 5.99999M42 38.9999C42.0016 42.4088 41.0352 45.748 39.2132 48.629C37.3913 51.5101 34.7887 53.8146 31.7083 55.2744C28.6278 56.7342 25.1962 57.2892 21.8126 56.875C18.4291 56.4607 15.2327 55.0942 12.5954 52.9344C9.9581 50.7746 7.98831 47.9104 6.9152 44.6749C5.84209 41.4393 5.70979 37.9656 6.53369 34.6579C7.35759 31.3501 9.10382 28.3443 11.5692 25.9902C14.0346 23.636 17.1178 22.0304 20.46 21.36C22.7959 20.8832 25.2041 20.8832 27.54 21.36C31.6168 22.1777 35.2847 24.3816 37.9207 27.5973C40.5566 30.8129 41.998 34.842 42 38.9999ZM25.89 15H22.11L10.11 5.99999H38.13L25.89 15Z"
              fill="#FFBF00"></path>
          </svg>
        </div>
        <div>
          <h5>{titles[1]}</h5>
          <p>{descriptions[1]}</p>
        </div>
      </div>
      <div class="svgTextWrapper">
        <div class="svgWrapper">
          <svg
            width="48"
            height="59"
            viewBox="0 0 48 59"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-label="bezpieczeństwo"
          >
            <path
              d="M23.6265 3.57949L25.0355 0.288953C24.5903 0.0983015 24.1109 0 23.6265 0C23.1422 0 22.6628 0.0983015 22.2175 0.288953L23.6265 3.57949ZM23.6265 55.1283L21.851 58.2356C22.9507 58.8656 24.3024 58.8656 25.4021 58.2356L23.6265 55.1283ZM22.2175 0.288953L3.90626 8.13583L6.72426 14.7169L25.0355 6.87002L22.2175 0.288953ZM3.94531e-07 14.0611V33.7069H7.15956V14.0611H3.94531e-07ZM10.4615 51.729L21.851 58.2384L25.4021 52.0239L14.0127 45.5145L10.4615 51.729ZM25.4021 58.2384L36.7915 51.7318L33.2404 45.5173L21.851 52.0239L25.4021 58.2384ZM47.2531 33.7041V14.0611H40.0935V33.7069L47.2531 33.7041ZM43.3468 8.1387L25.0355 0.291817L22.2175 6.87289L40.526 14.7198L43.3468 8.1387ZM47.2531 14.0611C47.2531 11.4836 45.7181 9.15535 43.3468 8.1387L40.526 14.7198C40.3974 14.6643 40.2879 14.5723 40.211 14.4553C40.1341 14.3382 40.0933 14.2011 40.0935 14.0611H47.2531ZM36.7915 51.7318C39.9697 49.9158 42.6112 47.2918 44.4484 44.1258C46.2856 40.9599 47.2532 37.3645 47.2531 33.7041H40.0935C40.0936 36.102 39.4597 38.4574 38.2562 40.5314C37.0527 42.6055 35.3223 44.3274 33.2404 45.5173L36.7915 51.7318ZM3.94531e-07 33.7012C-0.000117266 37.3616 0.967463 40.957 2.80467 44.1229C4.64188 47.2889 7.28342 49.9129 10.4615 51.729L14.0127 45.5145C11.9304 44.3243 10.1997 42.6048 8.99618 40.5302C7.79265 38.4556 7.15904 36.0996 7.15956 33.7012H3.94531e-07ZM3.90626 8.13583C2.74659 8.63262 1.75827 9.45891 1.06387 10.5122C0.369476 11.5655 -0.000440989 12.7995 3.94531e-07 14.0611H7.15956C7.15956 14.3475 6.98773 14.6023 6.72426 14.7169L3.90626 8.13583Z"
              fill="#FFBF00"></path>
            <path
              d="M32.2181 23.6263L20.7628 35.0816L15.0352 29.3539"
              stroke="#FFBF00"
              stroke-width="7.15956"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
        <div>
          <h5>{titles[2]}</h5>
          <p>{descriptions[2]}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #whyUsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4rem;

    width: 100%;
    max-width: 70rem;
    height: auto;
  }

  #company_owner {
    width: 25rem;
    height: 25rem;

    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 15px;
  }

  #wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: auto;
    height: auto;
  }
  .svgWrapper {
    min-width: 2rem;
    min-height: 2rem;
    width: 3rem;
    height: 3rem;

    & svg {
      width: 100%;
      height: 100%;
    }
  }
  .svgTextWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
  }

  .svgTextWrapper div:last-child {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .svgTextWrapper div:last-child p {
    padding-block: 0.5rem 1rem;
  }
  @media screen and (max-width: 1023px) {
    .svgTextWrapper {
      flex-wrap: wrap;
    }
    .svgTextWrapper:not(:last-child) {
      margin-bottom: 1rem;
    }

    #whyUsWrapper {
      flex-wrap: wrap;
      width: 100%;
      max-width: 30rem;
    }

    #company_owner {
      width: 100%;
      max-width: 30rem;
      height: auto;
    }
  }
</style>
